<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <%= render 'doctor' %>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <%= render 'clinic' %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card">
      <%= render 'appointments' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <%= render 'patient' %>
  </div>
  <div class="col-lg-8">
    <%= render 'medical_records' %>
  </div>
</div>
