<!DOCTYPE html>
<html>
  <head>
    <title>Healthcare Management</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag('/assets/image.jpg', width: '100px') %>

    <%= link_to 'Home', dashboards_path %>
    <%= link_to 'Patients', patients_path %>
    <%= link_to 'Doctors', doctors_path %>
    <%= link_to 'Clinics', clinics_path %>
    <%= link_to 'Hospitals',hospitals_path %>
    <%= link_to 'Requests', requests_path %>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
